@model IEnumerable<u19195100_HW5.Models.Student>

@{
    ViewBag.Title = "DisplayStudents";
}

<h2>DisplayStudents</h2>

@if (ViewBag.MessageStudent != "")
{
    <p class="text-info">@ViewBag.MessageStudent</p>
}

<hr />
@using (Html.BeginForm("SearchStudents", "Home", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <input class="form-control" placeholder="Search Student Name" name="name" />
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-md-12 ">
                        @Html.DropDownList("Class", (IEnumerable<SelectListItem>)ViewBag.Classes, "Select Class", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success btn-lg" type="submit"> Search </button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-danger btn-lg" type="button" onclick="window.location.href = '@Url.Action("ClearStudents","Home")'"> Clear </button>
            </div>
        </div>
    </div>
}
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Class
            </th>
            <th>
                Points
            </th>
            <th>
                @if (ViewBag.Status == true)
                {
                    <span>Borrow Book</span>
                }
                else
                {
                    <span>Return Book</span>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @student.studentId
                </td>
                <td>
                    @student.name
                </td>
                <td>
                    @student.surname
                </td>
                <td>
                    @student.Class
                </td>
                <td>
                    @student.point
                </td>
                <td>
                    @if (ViewBag.Status == false)
                    {
                        if (student.studentId == ViewBag.studentId)
                        {
                            <button class="btn btn-primary" type="button" onclick="window.location.href = '@Url.Action("ReturnBook","Home")'"> Return Book</button>
                        }
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick="window.location.href = '@Url.Action("BorrowBookToStudent","Home", new {  studentId = student.studentId})'"> Borrow Book</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

